{% extends '@App/base.html.twig' %}

{% block body %}

    <h1>Bibliographie et téléchargements</h1>
    <br>

    <table class="table table-bordered table-responsive">
        <tr>
            <th>Information</th>
            <th>Source</th>
        </tr>

        <tr>
            <td>Logiciels et documentation pour l’Arduino</td>
            <td>https://www.arduino.cc/</td>
        </tr>

        <tr>
            <td>Raspbian, système d’exploitation pour Raspberry Pi</td>
            <td>https://www.raspberrypi.org/downloads/raspbian/</td>
        </tr>

        <tr>
            <td>Documentation et téléchargement de Symfony</td>
            <td>https://symfony.com/</td>
        </tr>

        <tr>
            <td>Information sur le BME280, capteur de température, d'humidité et de pression</td>
            <td>https://learn.adafruit.com/adafruit-bme280-humidity-barometric-pressure-temperature-sensor-breakout/overview</td>
        </tr>

        <tr>
            <td>Exemple de code Arduino pour le BME280</td>
            <td>https://github.com/adafruit/Adafruit_BME280_Library</td>
        </tr>

        <tr>
            <td>Documentation de l’utilisation des ports série en Python</td>
            <td>http://www.jujens.eu/posts/2014/Jan/11/communication-serie-facile-python/</td>
        </tr>
    </table>



















{% endblock %}

