{% extends '@App/base.html.twig' %}

{% block body %}
    <h1>Conclusion et bilan</h1>
    <br>

    <p>
        Avec tous les travaux que nous avons effectués, nous avons finalement réussi à atteindre notre objectif du départ, c’est-à-dire de mettre en commun la programmation dans un contexte technologique à l’aide de pièces électroniques externes. Désormais nous comprenons beaucoup mieux la façon
        dont différents composants électroniques communiquent ensemble ainsi que comment, en pratique, nous pouvons en bénéficier dans un contexte de programmation. Les connaissances que nous avons acquises nous seront très utiles dans un avenir prochain et nous permettrons même de développer nos
        propres prototypes, voir inventer des choses qui n’existent pas encore.
    </p>

    <p>

        De plus, nous n’avons pas seulement acquis des connaissances au niveau technologique, nous avons approfondi nos connaissances du langage de programmation PHP et nous avons appris à utiliser le framework PHP Symfony, un des frameworks les plus réputés au monde. Cette expérience sera un grand
        atout pour nous sur un curriculum vitae.
    <p/>

    <p>
        Quel est le futur de notre projet ? Probablement aucun, nous n’avons pas prévu le pousser plus loin, mais ce n’est pas les idées qui sont manquantes ! Au moment de la rédaction de ce document, toutes les prises de température sont archivées dans une base de données. Avec toutes ces données,
        nous pourrions par exemple construire une nouvelle interface de statistique avec des graphiques, des moyennes, etc. De plus, nous pourrions nous orienter vers de nouveaux capteurs et ainsi obtenir la vitesse du vent, sa direction ainsi que le temps actuel qui fait à l’extérieur (ensoleillé,
        nuageux, pluvieux, etc.).
    </p>

{% endblock %}

