{% extends '@App/base.html.twig' %}

{% block body %}

    <h1>Résultats de recherche</h1>
    <br>

    <p>
        Finalement, autre que les fonctionnalités dont nous avons abandonnées comme expliqué plus tôt dû à un manque de temps et de budget, nous avons réussi à implémenter toutes les fonctionnalités qui étaient nécessaires au bon fonctionnement de la station météo ainsi que de l’affichage de
        l’information en temps réel sur un site web. Ainsi, nous sommes fiers affirmer que nous avons atteint tous nos objectifs primaires avec des données météos avec des incertitudes très raisonnables.
    </p>

{% endblock %}

