{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Page en construction</h1>
        <span>Revenez plus tard.</span>
    </div>
    <a href="{{ path('fos_user_security_login') }}"
{% endblock %}